/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/deeppurple-amber.css";

.card {
  width: 600px;
  text-align: center;
  margin: 20px auto auto auto;
  padding: 10px;
  border-radius: 3px;
  box-shadow: 1px 1px 3px #9E9E9E;
  box-sizing: border-box;
}
